*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
html{
    font-family: sans-serif;
}

body{
    box-sizing: border-box;
    background-color: #64a7ff;
}

.container{
    background-color: #64a7ff;
    width: 1200px;
    padding: 20px 10px;
    display: grid;
    margin: 100px auto 0;
    min-height: 700px;
    grid-template-columns: 1fr 1fr 1fr;
    gap:30px;
}
.container > div{
}
.userDescription{
    grid-column: 1/2;
    border-radius: 20px 20px 0 0 ;
}
.userDescription .userAva{
    background-color: white;
    border-radius: 20px 20px 0 0 ;
    text-align: center;
    padding: 20px 10px 10px;
}
.userDescription .userAva img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: solid 5px #1572fd;
    box-shadow: 0px 0px 20px grey;
    background-color: transparent;
}
.userDescription .subcribtion{
    background-color: white;
    padding: 20px 0px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.userDescription .subcribtion .subText{
    font-weight: bold;
    font-size: 1.5em;
}
.userDescription .subcribtion .subNumber i{
    position: relative;
    top: 1px;
    color: #0066ff;
    font-size: 1.5em;
}
.userDescription .subcribtion .subButtonCb{
    display: none;
}
.userDescription .subcribtion .subButton label{
    color:#0066ff;
    border:dashed 2px #0066ff;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    user-select: none;
    font-weight: bold;
}
.userDescription .subcribtion .subButtonCb:checked + label{
    color: white;
    background-color: #0066ff;
}


.userDescription .userinfo {
    width: 100%;
    padding: 10px 30px 10em;
    font-size: 20px;
    background-color: white;
    background-image: linear-gradient(white 50%,#64a7ff );
}
.userDescription .userinfo .userName{
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}
.userDescription .userinfo .pieceOfInfo{
    margin-top: 1.2em;
    color:#4d4d4d;
}
.userDescription .userinfo .pieceOfInfo .info{
    color: black;
}

.userposts{
    grid-column: 2/4;
    background-color: #ffffff;
    
}
.userposts .postheader{
    background-color: #f83434;
    padding: 5px 5px;
    width: 100%;
    height: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.userposts .postheader .sort{
    margin-left: 20px;
    display: flex;
}
.userposts .postheader .sort .sortType{
    color:white;
    cursor: pointer;
    user-select: none;
    text-align: right;
    padding-right: 8px;
    min-width: 70px;
}
.userposts .postheader .sort .sortType + .sortType{
    border-left: solid 1.5px black;
    margin-left: 10px;
    padding-left: 10px;
}

.listpost{
    margin: 30px 0px 0;
}
.listpost .postcontainer{
    box-shadow: 0 1px 5px 0px gray;
    padding:10px 30px;
    cursor: pointer;
}
.listpost .postcontainer + .postcontainer{
    margin-top: 20px;
}
.listpost .postcontainer .postdescription::first-letter{
    text-transform: uppercase;
}
.listpost .postcontainer .postdescription::after{
    content : '...';
}
.listpost .postcontainer .postimg{
    width: 100%;
    text-align: center;
    margin-top: 20px;
}
.listpost .postcontainer .postimg img{
    height: 250px;
    border:solid 1px black;
}
.listpost .postcontainer .poststat{
    display: flex;
    justify-content: space-between;
}
.listpost .postcontainer .postdate{
    font-style: italic;
    color: gray;
    text-align: right;
}
