:root{
    /* --bg-color: #eef0f1; */
    --bg-color: white;
    --black-color:#000;
    --white-color: rgba(255, 255, 255, 1);
    --text-color: #333;
    --btn-color: #323ebe;
    --btn-hover-color: blue;
    --btn-sidebar-hover-color: rgb(213, 213, 216);
    --gray-color: #eef0f1;
}
*, *:before, *:after{
    box-sizing: inherit;
}
html{
  box-sizing: border-box;
  display: block;
}
body{
    padding: 0;
    margin: 0;
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    min-height: 100vh;
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
p{
    font-size: 1.6rem;
}

.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}
.grid__fullwidth{
    width: 100%;
}
.grid__row{
    display: flex;
    flex-wrap: wrap;
}