a{
    text-decoration: none;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.header, .footer{
    background-color: var(--white-color);
    height: 54px;
    margin-bottom: 18px;
    z-index: 100;
    box-shadow: 0 1px 1px rgb(155, 154, 156);
}
.header__content{
    margin: 8px 28px;
    height: 38px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.page--content{
    flex: 1 auto;
}
.page--content__inner{
    display: block;
   
}
.content--box{
    /* background-color: var(--black-color); */
    margin: 0 16px;
}
.content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}
.content--items{
    display: block;
}
.content--items__box{
    margin: 0 12px;
}
.content--items__core{
    margin-bottom: 8px;
}
.item1{
    flex: 1;
}
.item2{
    flex: 2.7;
}
.item3{
    flex: 1.35;
}
.card{
    background-color: var(--white-color);
    width: 100%;
    z-index: 200;
    padding: 16px 16px;
    font-weight: 700;
    margin-bottom: 8px;
    border-radius: 6px;
    box-shadow: 0 1px 1px rgb(155, 154, 156);
}
.card__content{
    margin-bottom: 8px;
    display: block;
}
.card__content--core{
    display: flex;
    flex-direction: column;
   justify-content: space-evenly;
}
.btn{
    border-radius: 6px;
    text-align: center;
    padding: 8px 16px;
}
.btn__blue{
    background-color: var(--btn-hover-color);
    color: var(--white-color);
    margin-bottom: 8px;
}
.btn__blue:hover{
    background-color: var(--btn-color) ;
}
.btn__pure{
    color: var(--btn-color);
}
.btn__pure:hover{
    background-color: var(--bg-color);
}
.btn__sidebar{
    color: var(--text-color);
    background-color: var(--bg-color);
    width: 100%;
    text-align: left;
}
.btn__sidebar:hover{
    color: var(--btn-hover-color);
    background-color: var(--btn-sidebar-hover-color);
}
.btn__sidebar:active{
    color: var(--btn-hover-color);
    background-color: var(--btn-sidebar-hover-color);
}
.sidebar{
    background-color: var(--bg-color);
    margin: 16px 0px;
}
.sidebar__content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.topbar{
    background-color: var(--bg-color);
    margin-bottom: 8px;
}
.topbar__content{
    display: flex;
    justify-content: space-between;
}
.sidebar__content--top{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.btn__top{
    font-weight: 700;
    font-size: larger;
    color: var(--black-color);
    padding-left: 0px;
    margin-top: 5px; 
}
.btn__topbar{
    color: var(--text-color);
    background-color: var(--bg-color);
    width: 100%;
    text-align: center;
    padding: 10px 8px 10px 8px;
    margin: 0px 6px;
}
.btn__topbar--active{
    color: var(--black-color);
    font-weight: 600;
    background-color: var(--bg-color);
    padding: 10px 8px 10px 8px;
    border-radius: 6px 6px 0px 0px;
    border-bottom: 3px solid var(--btn-hover-color);
}
.btn__topbar--active:hover{
    color: var(--btn-hover-color);
    background-color: var(--btn-sidebar-hover-color);
    padding: 10px 8px 10px 8px;
    border-radius: 6px 6px 0px 0px;
    border-bottom: 3px solid var(--btn-hover-color);
}
.btn__topbar--active:active{
    color: var(--btn-hover-color);
    background-color: var(--btn-sidebar-hover-color);
    padding: 10px 8px 10px 8px;
    border-radius: 6px 6px 0px 0px;
    border-bottom: 3px solid var(--btn-hover-color);
}
.btn__topbar:hover{
    color: var(--btn-hover-color);
    background-color: var(--btn-sidebar-hover-color);
    /* padding: 8px 16px 6px 16px;
    border-radius: 6px 6px 0px 0px;
    border-bottom: 2px solid var(--btn-hover-color); */
}
.btn__topbar:active{
    color: var(--black-color);
    font-weight: 600;
    /* color: var(--btn-hover-color); */
    background-color: var(--btn-sidebar-hover-color);
    padding: 10px 8px 9px 8px;
    border-radius: 6px 6px 0px 0px;
    border-bottom: 3px solid var(--btn-hover-color);
}
.btn__head{
    padding: 12px 10px 12px 10px;
    margin-right: 10px;
    font-weight: 600;
}
.img1{
    padding: 0;
}