a{
    text-decoration: none;
    color: var(--text-color);
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.header, .footer{
    background-color: var(--white-color);
    height: 54px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    margin-bottom: 10px;
    z-index: 100;
    box-shadow: 0 1px 1px rgb(155, 154, 156);
}
.header__content{
    margin: 8px 28px;
    height: 38px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.page--content{
    flex: 1 auto;
}
.page--content__inner{
    display: block;
   
}
.content--box{
    margin: 0 16px;
}
.content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}
.content--items{
    display: block;
}
.content--items__box{
    margin: 0 8px;
}
.content--items__core{
    margin: 8px 0px 8px 0px;
}
.item1{
    flex: 1;
}
.item2{
    flex: 2.3;
}
.item3{
    flex: 1.6;
}
.card{
    background-color: var(--white-color);
    width: 100%;
    z-index: 200;
    padding: 16px 16px;
    font-weight: 700;
    margin-bottom: 8px;
    border-radius: 6px;
    box-shadow: 0 1px 1px rgb(155, 154, 156);
}
.card__welcome{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.a__welcome{
    color: var(--btn-hover-color);
}
.small-text{
    opacity: 0.7;
    line-height: 1.5rem;
    font-weight: lighter;
}
.large-text{
    font-size: large;
}
.card__content{
    margin-bottom: 8px;
    display: block;
    line-height: 1.5rem;
}
.card__content--core{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.btn{
    border-radius: 6px;
    text-align: center;
    padding: 8px 16px;
}
.btn__blue{
    background-color: var(--btn-hover-color);
    color: var(--white-color);
    margin-bottom: 8px;
}
.btn__blue:hover{
    background-color: var(--btn-color) ;
}
.btn__pure{
    color: var(--btn-color);
}
.btn__pure:hover{
    background-color: var(--bg-color);
}
.btn__sidebar{
    color: var(--text-color);
    background-color: var(--bg-color);
    width: 100%;
    text-align: left;
}
.btn__sidebar:hover{
    color: var(--btn-hover-color);
    background-color: var(--btn-sidebar-hover-color);
}
.btn__sidebar:active{
    color: var(--btn-hover-color);
    background-color: var(--btn-sidebar-hover-color);
}
.sidebar{
    background-color: var(--bg-color);
    margin: 16px 0px;
}
.sidebar__content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.topbar{
    background-color: var(--bg-color);
    margin-bottom: 8px;
}
.topbar__content{
    display: flex;
    justify-content: space-between;
}
.sidebar__content--top{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.btn__top{
    font-weight: 700;
    font-size: larger;
    color: var(--black-color);
    padding-left: 0px;
    margin-top: 5px; 
}
.btn__topbar{
    color: var(--text-color);
    background-color: var(--bg-color);
    width: 100%;
    text-align: center;
    padding: 10px 8px 10px 8px;
    margin: 0px 6px;
}
.btn__topbar--active{
    color: var(--text-color);
    font-weight: 600;
    background-color: var(--bg-color);
    padding: 10px 8px 10px 8px;
    border-radius: 6px 6px 0px 0px;
    border-bottom: 3px solid var(--btn-hover-color);
}
.btn__topbar--active:hover{
    color: var(--btn-hover-color);
    background-color: var(--btn-sidebar-hover-color);
    padding: 10px 8px 10px 8px;
    border-radius: 6px 6px 0px 0px;
    border-bottom: 3px solid var(--btn-hover-color);
}
.btn__topbar--active:active{
    color: var(--btn-hover-color);
    background-color: var(--btn-sidebar-hover-color);
    padding: 10px 8px 10px 8px;
    border-radius: 6px 6px 0px 0px;
    border-bottom: 3px solid var(--btn-hover-color);
}
.btn__topbar:hover{
    color: var(--btn-hover-color);
    background-color: var(--btn-sidebar-hover-color);
}
.btn__topbar:active{
    color: var(--text-color);
    background-color: var(--btn-sidebar-hover-color);
    padding: 10px 8px 9px 8px;
    border-radius: 6px 6px 0px 0px;
    border-bottom: 3px solid var(--btn-hover-color);
}
.btn__head{
    padding: 12px 10px 12px 10px;
    margin-right: 10px;
    font-weight: 600;
}
.card__mid{
    display: flex;
    flex-direction: column;
    padding: 0;
}
.img1{
    border: 1px solid var(--white-color);
    border-radius: 6px;
    width: 100%;
    height: 308px;
    margin-bottom: 8px ;
}
.img1:hover{
    z-index: 400;
    border: 8px solid white;
    border-radius: 6px;
    opacity: 1.1;
}
.icon2{
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
.mid__content{
    display: flex;
    flex-direction: column;
    padding: 0px 16px 16px 16px;
    margin-bottom: 8px;
}
.mid__content--top{
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mid__content--top-meta{
    display: flex;
    align-items: center;
    font-size: small;
}
.meta__detail{
    display: flex;
    flex-direction: column;
    margin-left: 8px;
}
.meta__detail--date{
    font-size: smaller;
    opacity: 0.5;
}
.mid__content--body{
    padding: 0px 0px 0px 37px;
    display: flex;
    flex-direction: column;
}
.body__article{
    margin-bottom: 8px;
    font-size: 250%;
    padding-right: 57px;
    color: var(--text-color);
}
.body__article > a:hover{
    color: var(--btn-hover-color);
    opacity: 0.7;
}
.body__tag{
    color: var(--text-color);
    opacity: 0.7;
    font-weight: lighter;
    margin-bottom: 8px;
    font-size: small;
}
.body__tag > a{
    margin-left: 10px;
}
.body__interact{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 8px;
}
.views{
    font-weight: lighter;
}
.btn__later{
    border: 1px solid var(--black-color);
    font-weight: lighter;
}
.btn__later:hover{
    background-color: gray;
    color: var(--white-color);
    border: 1px solid var(--white-color);
}
.card__col3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.col3__content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 8px;
    margin-right: 16px;
    margin-top: 6px;
}
.col3__content--article{
    margin-bottom: 8px;
}
.col3__content--article > a:hover{
    color: var(--btn-hover-color);
}
.hastag{
    color: var(--text-color);
}
.col3__detail > a:hover{
    color: var(--btn-sidebar-hover-color);
}
.col3__content--author{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}
.icon3{
    height: 32px;
    width: 32px;
    margin-right: 8px;
}
.col3__detail{
    margin-right: 8px;
    font-size: small;
}
.col3__detail--date{
    margin-right: 8px;
    font-weight: lighter;
    font-size: small;
    opacity: 0.6;
}
.img3{
    width: auto;
    height: 110px;
    border-radius: 6px;
}
.img3__box{
    display: block;
}
.card3{
    background-color: var(--white-color);
    width: 100%;
    z-index: 200;
    padding: 0px;
    font-weight: 700;
    margin-bottom: 16px;
    border-radius: 6px;
}
.content--items__core3{
    margin: 20px 0px 8px 0px;
}